@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  min-width: 575px;
  /* width:1600px; */
  align-items: center;
  margin:auto
}
.con::after{
content: " ";
height:8px;width:72px;background-color:#5956E9;
display:inline-block;
}
.con2::after{
    content: " ";
    height:15px;width:15px;border-radius:50%;background-color:#5956E9;display: inline-block;
}
.header-items {
  display: inline-block;
  position: relative;
}

.header-items:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5956E9;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}
.slick-next{
  left:-85px ;
  border:1px solid white !important;
  border-radius:50%;
  height:50px !important;
  width:50px !important;
}
.slick-prev{
  left:-151px !important;
  border:1px solid white !important;
  border-radius:50%;
  height:50px !important;
  width:50px !important;
}
.slick-prev:hover,.slick-next:hover{
background-color: #5956E9 !important;
border:none !important;
}
.slick-prev::before,.slick-next::before{
  font-family: 'Poppins', sans-serif !important;
  font-size: 40px !important;
 line-height: 0px !important;
}

.header-items:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

  @media screen and (max-width: 1256px) {
    .media {
     display:none !important
     }
  }
  @media screen and (max-width: 884px) {
    .fig {
     width:550px !important;
     height:550px !important
     }
     .cloud1{
      width: 97px !important;
      height:59px !important;
      margin-left: 328px !important;
      margin-top: 123px !important;
     }
     .access2{
      margin: 22px 52px !important
     }
     .access1{
      width:232px !important;
      height:218px !important;
      margin-top: -636px !important;
      margin-left:187px !important
     }
     .main2{
      margin-left: -73px !important;
      margin-top: -290px !important;
     }
     .dot{
      width:26px !important;
      height:26px !important;
      margin-left: 407px !important;
      margin-top: -472px !important;
     }
  }